<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추노인 - cnshin</title>
    <%- include ('./base/head') %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div id="wrap">
        <%- include ('./base/header') %>
        <%- include ('./base/side') %>
        <div id="main" class="flex flex-column">
            <div class="msg msg-error">학생 및 선생님들은 충남과학고등학교 전용 이메일로 로그인하기를 권장드립니다.</div>
            <a id="loginBtn" href="/auth/google">sign in with google</a>
            <ul>
                <% for(let i = 0; i < 90; i++){ %>
                    <li>Hello World </li>
                <% } %>
            </ul>
        </div>
        <%- include ('./base/bottom') %>
    </div>
    
</body>
</html>