<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추노인 - cnshin</title>
    <%- include ('./base/head') %>
</head>
<body>
    <div id="wrap">
        <%- include ('./base/header') %>
        <%- include ('./base/side') %>
        <div id="main" class="flex flex-center flex-middle">
            <div class="max-x">
                게시판
            </div>
        </div>
        
        <%- include ('./base/bottom') %>
    </div>
    
</body>
</html>