/* all */
a{
    text-decoration: none;
}

.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-center{
    align-items: center;
}
.flex-middle{
    justify-content: center;
}
.flex-between{
    justify-content: space-between;
}


.max-x{
    max-width: 60rem;
    width: 100%;
}

/* msg */
.msg{
    border: 1px solid rgb(156, 38, 38);
    border-radius: .5rem;
    padding: 1rem;
    font-size: .9rem;
}

.msg-error{
    color: rgb(253, 34, 34);
    background-color: rgb(255, 183, 183);
    border-color: rgb(255, 34, 34);
    
}
.msg-warning{
    color: rgb(238, 166, 31);
    border-color: rgb(238, 166, 31);
    background-color: rgb(255, 212, 121);
}
.msg-success{
    color: rgb(61, 161, 255);
    border-color: rgb(61, 161, 255);
    background-color: rgb(160, 209, 255);
}

/* article */
.article{
    border-radius: 1rem;
    box-shadow: 0 4px 5px 3px gray;
    width: 100%;
}