/* all */
a{
    text-decoration: none;
}
ul, ol{
    list-style: none;
    padding: 0;
}
input{
    outline: 0;
}

.disappear{
    display: none;
    height: 0;
    opacity: 0;    
}

.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.flex-center{
    align-items: center;
}
.flex-middle{
    justify-content: center;
}
.flex-between{
    justify-content: space-between;
}


.max-x{
    max-width: 60rem;
    width: 100%;
}
.max-x-all{
    width: 100%;
}

/* msg */
.msg{
    border: 1px solid rgb(156, 38, 38);
    border-radius: .5rem;
    padding: 1rem;
    font-size: .9rem;
}

.msg-error{
    color: rgb(253, 34, 34);
    background-color: rgb(255, 183, 183);
    border-color: rgb(255, 34, 34);
    
}
.msg-warning{
    color: rgb(238, 166, 31);
    border-color: rgb(238, 166, 31);
    background-color: rgb(255, 212, 121);
}
.msg-success{
    color: rgb(61, 161, 255);
    border-color: rgb(61, 161, 255);
    background-color: rgb(160, 209, 255);
}

/* article */
.article{
    border-radius: 1rem;
    box-shadow: 0 0 8px 1px rgb(231, 231, 231);
    padding: 1.5rem;
    transition: .2s;
}
.article:hover{
    box-shadow: 0 0 20px 1px rgb(231, 231, 231);
}
.article .username{
    font-weight: 600;
    padding: 0 1rem 5px .8rem;
}
.article .avartar{
    width: 2rem;
}
.article .content{
    padding: 3rem 0 3rem 1rem;
}
.commentCnt{
    /* padding-bottom: 1rem; */
}
.comentPlace{
    padding-bottom: 1rem;
    padding-top: 1rem;
    transition: .4s;
}
.comentPlace form{
    width: 100%;
}
.comentPlace .profile{
    width: 2rem;
    margin-right: 2rem;
}
.comentPlace input{
    flex-grow: 1;
    width: 100%;
    padding: .8rem;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 100rem;
}
.comentPlace button{
    width: 2rem !important;
    height: 2rem !important;
    border: 0;
    outline: 0;
    border-radius: 100rem;
    margin-left: 1rem;
    padding: .4rem;
    background-color: rgb(76, 182, 231);
    color: white;
}
.comments{
    padding-top: 1rem;
    transition: .4s;
}
.commentToggleBtn{
    outline: 0;
    border: 0;
    background-color: white;
    transition: .2s;
}
.commentToggleBtn:hover{
    background-color: rgb(228, 228, 228);
}


/* roles */

.role{
    margin-left: .6rem;
    font-weight: 600;
    border-radius: 100rem;
    font-size: .7rem;
    padding: 5px 15px 5px 15px;
}
.teacherrole{
    border: 1px solid rgb(0, 153, 255);
    background-color: rgb(197, 232, 255);
    color: rgb(0, 153, 255);
}
.adminrole{
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 212, 212);
    color: rgb(255, 0, 0);
}

.createdAt{
    color: rgb(192, 192, 192);
    font-size: 0.8rem;
    margin-left: auto;
}

/* comment */
.comment .profile img{
    width: 2rem;
    padding: 1rem;
    padding-left: 0;
}
.comment .content{
    padding: 0;
}

