<footer>
    <div class="flex flex-center flex-middle">
        본 사이트는 충남과학고등학교 커뮤니티 사이트입니다
        <a href="https://github.com/cnsh27/cnsh-community-demo">cnsh community opensource</a>
    </div>
</footer>